{% extends 'main/base.html' %}

{% block title %}
На карте
{% endblock %}

{% block script %}
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ key }}&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    //ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [55.79717499, 49.10240174],
            zoom: 11
        });
        var coords = {{ coordinates }};

        var myGeoObjects = [];

        for (var i = 0; i < coords.length; i++) {
          myGeoObjects[i] = new ymaps.GeoObject({
            geometry: {
              type: "Point",
              coordinates: coords[i]
            }
          });
        }

        var myClusterer = new ymaps.Clusterer(
          {clusterDisableClickZoom: false}
        );
        myClusterer.add(myGeoObjects);
        myMap.geoObjects.add(myClusterer);
    }
</script>
{% endblock %}

{% block maincontent %}
<div id="map" style="width: 600px; height: 600px">Тут будет карта</div>
{% endblock %}