{% extends 'main/base.html' %}

{% block title %}
Добавить площадку
{% endblock %}

{% block maincontent %}
<div class="cover" style="background-image: url(../../static/grounds/dadaya.jpg);">
    <div class="form-container">
        <div class="form-header">
            Добавление площадки
        </div>
        <div class="form-text">
            Если в системе еще нет знакомой вам площадки - добавьте её сами!
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Район</label>
                <select name="dis" class="custom-select" required>
                    {% for district in districts %}
                    <option value="{{ district.0 }}">{{ district.0 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Тип</label>
                <select name="tps" class="custom-select" required>
                {% for type in types %}
                    <option value="{{ type.0 }}">{{ type.0 }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Краткое описание</label>
                <input name="sh_desc" type="text" class="form-control" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label>Длинное описание</label>
                <textarea name="ln_desc" class="form-control" style="height: 102px;" required></textarea>
            </div>
            <div class="form-group">
                <label>Координаты</label>
                <input name="crd" type="text" class="form-control coordinates" autocomplete="off" required>
                <div class="add-map-btn" onclick="showMap();">Показать на карте</div>
                <div class="add-map" id="map"></div>
            </div>
            <div class="form-group">
                <div class="add-file">
                    <input name="img" type="file" accept="image/*" id="img-input" class="img-input" required multiple>
                    <label for="img-input" id="img-input-label">
                        Добавить фото
                    </label>
                </div>
            </div>
            <button type="submit" class="btn">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ key }}&lang=ru_RU" type="text/javascript"></script>
{% load static %}
<script type="text/javascript" src="{% static 'grounds/add_and_edit.js' %}"></script>
{% endblock %}
