{% extends 'main/base.html' %}

{% block title %}
Добавить площадку
{% endblock %}

{% block script %}
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ key }}&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    //ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [55.79717499, 49.10240174],
            zoom: 11
        });

        myMap.events.add('click', function (e) {
            if (!myMap.balloon.isOpen()) {
                var coords = e.get('coords');
                myMap.balloon.open(coords, {
                    contentHeader:'Событие!',
                    contentBody:'<p>Кто-то щелкнул по карте.</p>' +
                        '<p>Координаты щелчка: ' + [
                        coords[0].toPrecision(6),
                        coords[1].toPrecision(6)
                        ].join(', ') + '</p>',
                    contentFooter:'<sup>Щелкните еще раз</sup>'
                });
            }
            else {
                myMap.balloon.close();
            }
        });
    }
</script>
{% endblock %}

{% block maincontent %}
<div class="cover" style="background-image: url(../../static/main/dadaya.jpg);">
    <div class="form-container">
        <div class="form-header">
            Добавление площадки
        </div>
        <div class="form-text">
            Если в системе еще нет знакомой вам площадки - добавьте её сами!
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Район</label>
                <select name="dis" class="custom-select" required>
                    {% for district in districts %}
                    <option value="{{ district.0 }}">{{ district.0 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Тип</label>
                <select name="tps" class="custom-select" required>
                {% for type in types %}
                    <option value="{{ type.0 }}">{{ type.0 }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Краткое описание</label>
                <input name="sh_desc" type="text" class="form-control" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label>Длинное описание</label>
                <textarea name="ln_desc" class="form-control" style="height: 102px;" required></textarea>
            </div>
            <div class="form-group">
                <label>Координаты</label>
                <input name="crd" type="text" class="form-control" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label>Фото</label>
                <div class="add-file">
                    Загрузить файлы
                    <input name="img" type="file" accept="image/*" class="custom-file-input" required>
                </div>
            </div>
            <button type="submit" class="btn">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}