{% extends 'main/base.html' %}

{% block title %}
Площадки
{% endblock %}

{% block maincontent %}
<div class="grounds">
    <div class="container">
        <div class="filters">
            <form method="POST">
                {% csrf_token %}
                <select name="dis" class="district custom-select">
                    <option value="all" selected>Выберите район</option>
                    {% for district in districts %}
                    <option class="filters-option" value="{{ district.0 }}">{{ district.0 }}</option>
                    {% endfor %}
                </select>
                <select name="tps" class="type custom-select">
                    <option value="all" selected>Выберите тип</option>
                    {% for type in types %}
                    <option value="{{ type.0 }}">{{ type.0 }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="filters-btn">Показать</button>
            </form>
        </div>
        <div class="grounds-list">
            {% if grounds.count > 0 %}
            {% for ground in grounds %}
            {% if ground.is_confirmed %}
            <div class="row">
                <div class="col-5">
                    <img class="grounds-img" src="{{ ground.main_image.url }}">
                </div>
                <div class="col-7">
                    <div class="desc-district">
                        {{ ground.district }} район
                    </div>
                    <div class="desc-header">
                        <a href="{{ ground.id }}">{{ ground.short_description }}</a>
                    </div>
                    <div class="desc-text">
                        {{ ground.long_description|linebreaks }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <h4>Таких площадок ещё нет, можете добавить их сами или ввести другие параметры фильтрации</h4>
            {% endif %}
        </div>
        <div class="add-or-edit-btn-container">
            <a href="add/" class="add-or-edit-btn"><table><tr><td>Добавить площадку</td></tr></table></a>
        </div>
    </div>
</div>
{% endblock %}