{% extends 'main/base.html' %}

{% block title %}
Площадки
{% endblock %}

{% block maincontent %}
<div class="grounds">
    <div class="container">
        <div class="grounds-list">
            {% if grounds.count > 0 %}
            {% for ground in grounds %}
            <div class="row">
                <div class="col-5">
                    <img src="{{ ground.main_image.url }}" width="460" height="345">
                </div>
                <div class="col-7">
                    <div class="desc-district">
                        {{ ground.district }} район
                    </div>
                    <div class="desc-header">
                        {{ ground.short_description }}
                    </div>
                    <div class="desc-text">
                        {{ ground.long_description|linebreaks }}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            Площадок нема
            {% endif %}
        </div>
        <div class="add-btn-container">
            <a href="add/" class="add-btn"><table><tr><td>Добавить площадку</td></tr></table></a>
        </div>
    </div>
</div>
{% endblock %}