{% extends 'main/base.html' %}

{% block title %}
Площадки
{% endblock %}

{% block maincontent %}
{% if grounds.count > 0 %}
{% for ground in grounds %}
    <div>
        <p><a href="{{ ground.id }}/">{{ ground.short_description }}</a></p>
        <p>Последнее изменение: {{ ground.last_update }}</p>
        <p>Район: {{ ground.district }}</p>
        <p>Тип: {{ ground.types }}</p>
        {% if ground.main_image %}
        <p><img src="{{ ground.main_image.url }}" width="350"></p>
        {% endif %}
    </div>
{% endfor %}
{% else %}
    Площадок нема
{% endif %}
{% endblock %}